@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
@import url(fontawesome/css/all.css);
@import url(fontawesome/js/all.js);
body, html {
    height: 100%;
    margin: 0;
}
.profile-pic {
    border:5px solid #ffffff;
    border-radius: 100%;
    background: url(img/profile-pic.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 150px;
    height: 150px;
}
.bg {
    background-image: url("img/background-1.jpg");
    height: 50%;
    opacity: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cover {
    min-height : 100%;
    min-width : 100%;
    background-size:100% 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}